<!-- start features Area -->
<section class="features-area section_gap">
  <div class="container">
    <div class="row features-inner">
      <!-- single features -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-features">
          <div class="f-icon">
            <img src="/assets/img/features/f-icon1.png" alt="">
          </div>
          <h6><%= t ".free-dilivery" %></h6>
        </div>
      </div>
      <!-- single features -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-features">
          <div class="f-icon">
            <img src="/assets/img/features/f-icon2.png" alt="">
          </div>
          <h6><%= t ".return-policy" %></h6>
        </div>
      </div>
      <!-- single features -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-features">
          <div class="f-icon">
            <img src="/assets/img/features/f-icon3.png" alt="">
          </div>
          <h6><%= t ".support" %></h6>
        </div>
      </div>
      <!-- single features -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-features">
          <div class="f-icon">
            <img src="/assets/img/features/f-icon4.png" alt="">
          </div>
          <h6><%= t ".secure-payment" %></h6>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end features Area -->
