<% provide :title, t(".title") %>
<div class="lattest-product-area category-list">
  <div class="row">
    <% 9.times.each do |item| %>
      <%= render "shared/single_product" %>
    <% end %>
  </div>
</div>
