<% provide :title, t(".title") %>
<% provide :button_text, t(".edit") %>
<section class="login_box_area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="login_form_inner">
          <%= render "form"%>
        </div>
      </div>
    </div>
  </div>
</section>
