<% provide :title, t(".title") %>
<% provide :button_text, t(".add") %>
<section class="section_gap_bottom container">
  <div class="main-content">
    <div class="main-content-inner">
      <div class="page-content">
        <div class="page-header">
          <h1><%= t ".title" %></h1>
          <hr>
        </div>
        <!-- /.page-header -->
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-10 col-md-6 col-md-offset-3">
                <%= form_for @request, url: { action: :create } do |form| %>
                  <%= render partial: "form", locals: { f: form } %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.page-content -->
    </div>
  </div>
  <!-- /.main-content -->
</section>
